aux/
odt/
pdf/
\#*
*.*~
*.aux
*.bbl
*.blg
*.bcf
*.count
*.ent
*.fdb_latexmk
*.fls
*.jpeg
*.jpg
*.loe
*.lof
*.log
*.log
*.lot
*.lom
*.lop
*.nav
*.odt
*.out
*.pbm
*.pdf
*.png
*.ppm
*.run.xml
*.snm
*.swp
*.texi
*.tiff
*.toc
*.xcf
*.xdv
*.zip

!config/vcbook.odt
!img/figures/*.*
!README.pdf
